/node_modules
/public/hot
/public/storage
public/resources/assets/mp4
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
vendor/phpoffice

/.vs
cert/CA/CA.key
